@import "./styles/config.scss";


#root, .App{
  width: 100%;
  height: 100%;
}
.App{
  display: grid;
  grid-template-rows: 100%;
}

.note_area{
  width: 100%;
  height: 90%;
  font-size: $fontSize;
  padding: $notePadding;
  outline: none;
}

.marked{
  width: 100%;
  height: 90%;
  padding: $notePadding;
  font-size: 1.5rem;
}

.btn_container{
  @extend .center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  background-color: #fff;
  z-index: 1;
}

.btn{
  all: unset;
  font-size: 1.4rem;
  text-align: center;
  width: 300px;
  height: 3rem;
  background-color: $btnColor;
  color: #fff;
  border-radius: .25rem;
  white-space: nowrap;
}